{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main
		class="my-4">
		<!-- Barre de recherche et Tableau des recettes -->
		<div class="card mb-4">
			<div class="card-body">

				<div id="carouselRecettes" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% for recette in recettes %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img src="{{ recette.image ? asset('uploads/' ~ recette.image) : asset('images/default.jpg') }}" alt="{{ recette.titre }}">
								<div class="carousel-caption d-none d-md-block">
									<h5>{{ recette.titre }}</h5>
									{# <p>{{ recette.description ?: 'Aucune description disponible.' }}</p> #}
								</div>
							</div>
						{% endfor %}
					</div>
					<!-- Contrôles du carrousel -->
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselRecettes" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Précédent</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselRecettes" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Suivant</span>
					</button>
				</div>

			</div>
		</div>
		<div
			class="row text-center my-4">
			<!-- Total Recettes -->
			<div class="col-md-4 col-sm-4 d-flex justify-content-center">
				<a href="{{ path('recette_index') }}" style="text-decoration: none; width: 100%;">
					<div class="card stat-card">
						<div class="card-body text-dark">
							<h4 class="card-title">Toutes les Recettes</h4>
							<p class="card-text">{{ totalRecettes }}
								Recettes</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Recettes Populaires -->
			<div class="col-md-4 col-sm-4 d-flex justify-content-center">
				<a href="#" style="text-decoration: none; width: 100%;">
					<div class="card stat-card">
						<div class="card-body text-dark">
							<h4 class="card-title">Recettes Populaires</h4>
							<p class="card-text">15</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Nouvelles Recettes -->
			<div class="col-md-4 col-sm-4 d-flex justify-content-center">
				<a href="{{ path('dernieres_recettes') }}" style="text-decoration: none; width: 100%;">
					<div class="card stat-card">
						<div class="card-body text-dark">
							<h4 class="card-title">Nouvelles Recettes</h4>
							<p class="card-text">Voir les 5 dernières recettes</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</main>

{% endblock %}
