{% extends 'base.html.twig' %}

{% block title %}Hello RecettesController!
{% endblock %}

{% block body %}
	<section class="mt-3">
		<div class="container recette">
			<div class="row pb-3">
				{% for recette in pagination %}
					<div class="col-md-6 col-lg-3 mb-3">
						<a href="{{ path('recette_show', { 'id': recette.id }) }}">
							<div class="card h-100 p-3 carte">
								{% if recette.image %}
									<img src="{{ asset('uploads/' ~ recette.image) }}" alt="Recette" class=" card-img-top photo-card">
								{% else %}
									<img src="{{ asset('images/image2.webp') }}" alt="Recette" class="card-img-top photo-card">
								{% endif %}
								<h5 class="card-title my-2">{{ recette.titre }}</h5>
								<div class="temps-personne mt-2 mb-0">
									<div class="d-flex mr-3">
										<i class="fa-solid fa-utensils"></i>
										<p class="p-1">{{ recette.nombrePersonne }}
											pers</p>
									</div>
									<div class="d-flex mr-3">
										<i class="fa-regular fa-clock"></i>
										<p class="p-1">{{ recette.tempsPreparation }}
											min</p>
									</div>
								</div>
								<div class="interaction">
									<div class="d-flex">
										<i class="fa-solid fa-comments"></i>
										<p id="nombre-commentaires">{{ recette.commentaires|length }}</p>
									</div>
									<div class="d-flex">
										<i class="fa-solid fa-eye"></i>
										<p>45</p>
									</div>
									<div class="d-flex">
										<i class="fa-solid fa-heart"></i>
										<p>110</p>
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="pagination justify-content-center">
			{{ knp_pagination_render(pagination) }}
		</div>
	</section>
{% endblock %}
